@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    margin: 0;
    font-family: Afacad, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    background: linear-gradient(70deg, rgb(29, 0, 133), rgb(41, 0, 67));
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}

/* Search page */

.container-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.welcomer {
    width: 380px;
    height: 600px;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
    justify-content: space-between;
    background: rgba(146, 146, 146, 0.2);
}

.logo {
    height: 40%;
    margin-top: 20px;
}

.welcome-text {
    font-size: 38px;
    padding: 0;
    color: #FFA732;
}

.cities-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
    gap: 4px 5px;
}

.city {
    padding: 2px 6px;
    border: 1px solid pink;
    border-radius: 15px;
    color: whitesmoke;
    cursor: pointer;
}

.search {
    width: 80%;
    display: flex;
    align-items: center;
}

.search-input {
    border: 0;
    outline: 0;
    padding: 0 15px;
    background: #ffffff;
    color: #7023ff;
    height: 42px;
    border-radius: 18px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search-button {
    border: 0;
    outline: 0;
    background: transparent;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: -65px;
}

.search button img {
    width: 26px;
    border: 0;
}

.info {
    color: white;
    margin-bottom: 20px;
}

/* Weather page */

/* Current weather part */


.container-weather {
    display: flex;
    flex-direction: column;

    padding: 20px 220px;
}

.current-weather-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
}

.current-weather {
    width: 360px;
    height: 260px;
    padding: 5px 12px;
    background-image: url(../backdrop-clear.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px 5px;
    color: whitesmoke;
}

.current-info {
    display: flex;
    flex-direction: column;
}

.current-info-text {
    font-size: 18px;
}

.current-date {
    font-size: 12px;
}

.current-city {
    font-size: 28px;
}

.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.weather-icon {
    width: 72px;
}

.current-percentage {
    font-size: 52px;
}

.weather-state-text {
    font-size: 36px;
    font-weight: 600;
}

.feels-like-text {
    font-size: 18px;
}

.current-air-quality {
    width: 260px;
    height: 260px;
    padding: 5px 12px;
    background: url(../air-quality-good.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: whitesmoke;
}

.current-aqi {
    font-size: 18px;
    margin-right: auto;
    margin-bottom: 40px;
}

.current-aqi-text {
    font-size: 60px;
    line-height: 60px;
    color: whitesmoke;
}

.additional-info {
    width: 384px;
    height: 270px;
    background: pink;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    color: whitesmoke;
}

.additional-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 12px;
}

.additional-info-box {
    width: 120px;
    height: 84px;
    background-color: red;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}