/* Weather page */

/* Current weather part */

.container-weather {
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
    padding: 20px 0px;
    margin: auto;
    width: 70%;
}

.current-weather-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px 20px;
}

.current-weather {
    width: 360px;
    min-width: 280px;
    height: 260px;
    padding: 5px 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 10px 5px;
}

.current-info {
    display: flex;
    flex-direction: column;
}

.current-info-text {
    font-size: 18px;
}

.current-date {
    font-size: 14px;
}

.current-city {
    font-size: 28px;
}

.weather-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.weather-icon {
    width: 72px;
}

.current-percentage {
    font-size: 52px;
}

.weather-state-text {
    font-size: 36px;
    font-weight: 600;
}

.feels-like-text {
    font-size: 18px;
}

.current-air-quality {
    width: 260px;
    min-width: 180px;
    height: 260px;
    padding: 5px 12px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.current-aqi {
    font-size: 18px;
    margin-right: auto;
    margin-bottom: 40px;
}

.current-aqi-text {
    font-size: 60px;
    line-height: 60px;
}

.additional-info {
    width: 384px;
    height: 270px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.additional-info-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0px 12px;
}

.additional-info-box {
    width: 120px;
    height: 84px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2px 2px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.58);
}

.info-box-text {
    font-size: 28px;
}

/* Forecast Part */

.weather-forecast {
    height: 180px;
    width: 100%;
    min-width: 930px;
    overflow-x: scroll;
    white-space: nowrap;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 0px 10px;
    background: rgba(255, 255, 255, 0.31);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.58);
}

.forecast-element {
    height: 100%;
    width: 80px;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.hourly-forecast-icon {
    width: 40px;
}