{% extends "base.html" %}

{% block css %} {{ url_for("static", filename="style/current_weather.css") }} {% endblock css %}

{% block content %}
<div class="container-weather">
    <div class="current-weather-row">
        <div class="current-weather">
            <div class="current-info">
                <div class="current-info-text">Current weather</div>
                <div class="current-date">21:00, 12/20/2023</div>
                <div class="current-city">Yerevan</div>
            </div>
            <div class="weather-info">
                <img src="{{ url_for("static", filename="sun.png" ) }}" class="weather-icon">
                <div class="current-percentage">30oC</div>
            </div>
            <div class="weather-text-container">
                <div class="weather-state-text">Clear</div>
                <div class="feels-like-text">Feels Like 32oC</div>
            </div>
        </div>
        <div class="current-air-quality">
            <div class="current-aqi">Air Quality Index</div>
            <div class="current-aqi-text">42</div>
            <div class="current-aqi-text">Good</div>
        </div>
        <div class="additional-info">
            <div class="additional-info-row">
                <div class="additional-info-box">
                    <div class="current-info-text">Humidity</div>
                    <div class="info-box-text">65%</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Pressure</div>
                    <div class="info-box-text">1009 mb</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Visibility</div>
                    <div class="info-box-text">6 km</div>
                </div>
            </div>
            <div class="additional-info-row">
                <div class="additional-info-box">
                    <div class="current-info-text">Sunrise</div>
                    <div class="info-box-text">08:21 AM</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Sunset</div>
                    <div class="info-box-text">05:39 PM</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Daytime</div>
                    <div class="info-box-text">9hr 18m</div>
                </div>
            </div>
            <div class="additional-info-row">
                <div class="additional-info-box">
                    <div class="current-info-text">Wind Speed</div>
                    <div class="info-box-text">0.51 km/h</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Wind Degree</div>
                    <div class="info-box-text">270</div>
                </div>
                <div class="additional-info-box">
                    <div class="current-info-text">Nighttime</div>
                    <div class="info-box-text">9hr 18m</div>
                </div>
            </div>
        </div>
    </div>
    <div class="current-weather-row">
        <div class="hourly-forecast">

        </div>
    </div>
</div>
{% endblock content %}